### Assignment 1 Python Review Functions

In [2]:
import pandas as pd
import os
os.getcwd()
os.chdir("/Users/arysuri/Downloads/DS-3001")
os.getcwd()

'/Users/arysuri/Downloads/DS-3001'

### Data Set 1: NFL 2008 Field Goal Attempt Data

### Question 1: Which NFL Kicker made the highest percentage of their field goal attempts in the 2008 Season?

### Psuedocode:
- Group by Kicker Name
- Count total kicks made
- Count total kicks attempted
- Calculate conversion rate
- Add conversion rate to new table 
- Arrange in descending order based on conversion rate

In [3]:
#read in file and print info 

nfl_fga = pd.read_csv("data/nfl2008_fga.csv")
print(nfl_fga.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GameDate  1039 non-null   int64
 1   AwayTeam  1039 non-null   object
 2   HomeTeam  1039 non-null   object
 3   qtr       1039 non-null   int64
 4   min       1039 non-null   int64
 5   sec       1039 non-null   int64
 6   kickteam  1039 non-null   object
 7   def       1039 non-null   object
 8   down      1037 non-null   float64
 9   togo      1037 non-null   float64
 10  kicker    1039 non-null   int64
 11  ydline    1039 non-null   int64
 12  name      1039 non-null   object
 13  distance  1039 non-null   int64
 14  homekick  1039 non-null   int64
 15  kickdiff  1039 non-null   int64
 16  timerem   1039 non-null   int64
 17  offscore  1039 non-null   int64
 18  defscore  1039 non-null   int64
 19  season    1039 non-null   int64
 20  GOOD      1039 non-null   int64
 21  Missed    1039 non-null   int64
 22  Blocked   1039 non-null   int64
dtypes: float64(2), int64(16), object(5)
memory usage: 186.8+ KB
None

In [4]:
#Group data set based on kicker name
x1 = nfl_fga.groupby(['name'])

In [5]:
#Get total made, total attempted, and assign to temp dataframe grouped by kicker name

temp_df = pd.DataFrame()
temp_df = temp_df.assign(made = x1.GOOD.sum(), 
                         total_attempted = x1['GOOD'].count()).assign(percent_made = lambda x: (x['made'] / x['total_attempted']))
temp_df.head()

             made  total_attempted  percent_made
name
A.Vinatieri    22               26      0.846154
C.Barth        10               12      0.833333
D.Akers        45               50      0.900000
D.Carpenter    23               26      0.884615
D.Rayner        1                1      1.000000

In [6]:
#Sort table in descending order by percent made
temp_df = temp_df.sort_values(by="percent_made", ascending=False)
temp_df.head()

           made  total_attempted  percent_made
name
L.Tynes       1                1      1.000000
J.Hanson     22               22      1.000000
D.Rayner      1                1      1.000000
G.Hartley    13               13      1.000000
R.Gould      28               29      0.965517

In [7]:
#Pipe together in function
def kicker_rates(df):
    x1 = df.groupby(['name'])
    temp_df = pd.DataFrame()
    temp_df = temp_df.assign(made = x1.GOOD.sum(), 
                         total_attempted = x1['GOOD'].count()).assign(percent_made = lambda x: (x['made'] / x['total_attempted'])).sort_values(by="percent_made", ascending=False)
    return temp_df 
   
print(kicker_rates(nfl_fga).head())

           made  total_attempted  percent_made
name
L.Tynes       1                1      1.000000
J.Hanson     22               22      1.000000
D.Rayner      1                1      1.000000
G.Hartley    13               13      1.000000
R.Gould      28               29      0.965517

## 4 Kickers led the NFL in field goal conversion rate in 2008.

### Question 2: Are there differences in the percentage of field goal attempts made based on quarter?

### Psuedocode: 
- Group data set by quarter
- Calculate total field goals made and attempted
- Calculate conversion rate
- Assign these variables to new dataframe 
- Sort and return

In [8]:
#Group dataset by quarter

x2 = nfl_fga.groupby(['qtr'])

In [9]:
#Calculate new variables and assign them to new data frame
quarter_fga = pd.DataFrame()
quarter_fga = quarter_fga.assign(fgm = x2.GOOD.sum(),
                   fga = x2['GOOD'].count()).assign(conversion_rate=lambda x:(x['fgm']/x['fga'])) 
quarter_fga

     fgm  fga  conversion_rate
qtr
1    192  214         0.897196
2    316  375         0.842667
3    154  182         0.846154
4    226  255         0.886275
5     12   13         0.923077

In [10]:
#Sort
quarter_fga = quarter_fga.sort_values(by='conversion_rate', ascending=False)
quarter_fga

     fgm  fga  conversion_rate
qtr
5     12   13         0.923077
1    192  214         0.897196
4    226  255         0.886275
3    154  182         0.846154
2    316  375         0.842667

There are differences in the conversion rates between quarters, with the highest being in overtime periods during the 2008 NFL season

In [11]:
#Pipe together 
def quarter_rates(df):
    x2 = nfl_fga.groupby(['qtr'])
    quarter_fga = pd.DataFrame()
    quarter_fga = quarter_fga.assign(fgm = x2.GOOD.sum(),
                                     fga = x2['GOOD'].count()).assign(conversion_rate=lambda x:(x['fgm']/x['fga'])) 
    quarter_fga = quarter_fga.sort_values(by='conversion_rate', ascending=False)
    return quarter_fga

quarter_rates(nfl_fga)

     fgm  fga  conversion_rate
qtr
5     12   13         0.923077
1    192  214         0.897196
4    226  255         0.886275
3    154  182         0.846154
2    316  375         0.842667